body{ background:#dfe8f7; font-size:12px; line-height:22px; margin:0; color:#444;}
a {color:#1b417f; text-decoration:none;}
ul,li {margin:0; padding:0; list-style:none;}
#clear {clear:both;}
#shadow{
	 position:absolute;
	 left:0;
	 top:0;
	 width:100%;
	 z-index:10;
	 background-color:#06C;    
	 opacity:.2;  
	 -moz-opacity:.2;
	 filter:alpha(opacity=20);
}
#window{
   position:absolute;
   left:50%;
   top:50%;
   width:500px;
   border:1px solid #8fa7c6;
}

.widowBox {border:1px solid #8fa7c6; margin:0 auto;}
#windowBoxIn {border:1px solid #fff;}
#windowTitle {height:24px; line-height:24px; background:url(top-bottom.png) left -3px repeat-x;}

#windowTitle h2{
   float:left;
   width:470px;
   height:16px;
   overflow:hidden;
   padding:4px 0 4px 0;
   font-size:12px;
   line-height:16px;
}
#windowTitle h2 img {float:left; width:16px; height:16px; margin:0 5px 0 3px; display:inline; vertical-align:middle;}

#closebar{float:left; width:15px; height:15px; text-align:right; padding:5px 4px 4px 0;  overflow:hidden;}
#closebar a:link, #closebar a:visited {width:255px; height:15px; overflow:hidden; display:block;
margin-left:4px; text-indent:-420px; color:transparent; background:url(tool-sprites.gif) 0 0 no-repeat;}
#closebar a:hover, #closebar a:active{background:url(tool-sprites.gif) -15px 0 no-repeat;}

#tab {height:23px; clear:both; border-top:1px solid #87a0bf; border-bottom:1px solid #87a0bf;  background:#dfe8f7;  }
#tab li {float:left; border-right:1px solid #87a0bf; _width:40px; white-space:nowrap;}
#tab li a {height:23px; display:block; padding:0 6px; background:#dbe3ef; line-height:26px;}
#tab li a.tabNoBorder {border-bottom:1px solid #dfe8f7; height:23px; line-height:26px; background:url(tabCurrent.gif) repeat-x;}


#Box1 {clear:both; background:#dfe8f7; padding:6px 4px;}
#SelectBox {padding:3px;}


#picChoose {width:300px; margin:6px 4px; _margin:6px 4px 6px 2px; border:1px solid #a8b5c8; float:left;}
#allPics {border-top:1px solid #a8b5c8; background:#f6f8fa; overflow-y:scroll; height:272px;}
#allPics img {width:52px; height:52px; margin:3px 0 3px 6px; border:3px solid #dee0e1;}
#allPics a{display:inline;}
#allPics a:hover img {border:3px solid #9c9c9d;}

#picShow {background:#f6f8fa; width:176px; height:300px; margin:6px 4px; border:1px solid #a8b5c8; float:left; text-align:center;}
#picShow #imgBox {margin:6px auto 0 auto; border:2px solid #e8e8e8; width:160px; height:160px; overflow: hidden; text-align:center;}
#picShow #imgBox img {vertical-align:middle;}
.imgRename {margin:6px 4px 0 4px; text-align:left;}
.imgRename input {width:160px; height:14px;}
.imgDes {height:30px; margin:2px 4px 0 4px;  text-align:left;}
.imgDes textarea {width:160px; height:48px; *margin-left:-4px;}

#Box2 {display:none; clear:both; background:#dfe8f7; margin-top:0px; padding:6px 4px; height:303px;}
#Box3 {display:none; clear:both; background:#dfe8f7; margin-top:0px; padding:6px 4px; height:303px;}
img{
   max-width:100%;
   height:auto;
   border:0;
}
.picupLoad {text-align:center;}
.picupLoad input {margin-top:140px;}
#btns {background:#dfe8f7; text-align:center; padding-bottom:4px;}

#btns a:link,
#btns a:visited{
   margin:0 auto;
   width:68px;
   height:20px;
   overflow:hidden;
   font-size:12px;
   display:block;
   text-indent:-999px;
   background-image:url(btnEnter-normal.gif);
}
#btns a:hover,
#btns a:active{
   background-image:url(btnEnter-hover.gif);
}


.annexupLoad {}
.annexupLoadTop {position:relative;}
.annexupLoadTop input {border:1px solid #ddd; background:#fff; cursor:pointer;}
.annexupLoadTop a {position:absolute; right:4px; color:#a04935;}
.annexupLoadBox {background:#fff; padding-bottom:3px; border:1px solid #9fb0c4; height:274px;}
.annexupLoadBox div {padding:18px 6px 6px 6px; margin:0 6px; border-bottom:1px solid #dfe8f7; position:relative;}
.annexupLoadBox div input {border:1px solid #b5c6e3; text-align:right; width:90px;}
.annexupLoadBox div a {color:#a04935;}




.annexChooseTop {position:relative;}
.annexChooseTop input {border:1px solid #ddd; background:#fff; cursor:pointer;}
.annexChooseTop a {position:absolute; right:4px; color:#a04935;}
.annexChooseBox {background:#ebf3fc; overflow:hidden; padding-bottom:3px; border:1px solid #9fb0c4; height:274px; color:#808080;}
.annexChooseBox div.outBox {padding:0;  margin:3px 6px; border:1px solid #dfe8f7; background:#f2f7fc;}
.annexChooseBox div dt.top {padding:2px; z-index:0;  padding-left:4px; margin:0; border:0; position:relative;}

.annexChooseBox div span { margin:0; padding:0; border:1px solid #f2f7fc; height:22px; width:188px; display:inline-block; color:#4376b3;}
.annexChooseBox div input {*margin-left:-6px; border:1px solid #b5c6e3; text-align:right; height:14px; width:120px;}
.annexChooseBox div input.checkBox {border:0; text-align:right; width:auto;}
.annexChooseBox div div.btn {text-align:center; margin:0 auto;}
.annexChooseBox div.btn input {border:1px; background:#b8d1f1; text-align:center; width:70px; height:22px; line-height:20px; margin:4px;}
.annexChooseBox div a {color:#a04935; text-decoration:underline; margin:0 4px;}
.annexChooseBox div a.del {}

.annexChooseBox div div.operate {position:absolute; top:0; right:4px; color:#a04935; width:120px;}


.annexChooseBox dl div.operate {position:absolute; top:0; right:4px; color:#a04935; width:120px;}

.annexChooseBox dl.outBox {padding:0;  margin:3px 6px; border:1px solid #dfe8f7; background:#f2f7fc;}
.annexChooseBox dl dt.top {padding:2px; z-index:0;  padding-left:4px; margin:0; border:0; position:relative;}

.annexChooseBox dl.outBox span { margin:0; padding:0; border:1px solid #f2f7fc; height:22px; width:188px; display:inline-block; color:#4376b3;}
.annexChooseBox dl.outBox input {*margin-left:-6px; border:1px solid #b5c6e3; text-align:right; height:14px; width:120px;}
.annexChooseBox dl.outBox input.checkBox {border:0; text-align:right; width:auto;}
.annexChooseBox dl.outBox div.btn {text-align:center; margin:0 auto;}
.annexChooseBox dl.outBox .btn input {border:1px; background:#b8d1f1; text-align:center; width:70px; height:22px; line-height:20px; margin:4px;}
.annexChooseBox dl.outBox a {color:#a04935; text-decoration:underline; margin:0 4px;}
.annexChooseBox dl.outBox a.del {}
.showBZ {display:block;}
.hiddenBZ {display:none;}
.annexChooseBox dl.outBox dd.showBZ {padding:2px; padding-left:8px; border-top:1px solid #dfe8f7;}
.annexChooseBox dd.showBZ label {float:left;}
.annexChooseBox dd.showBZ textarea {border:1px solid #ddd; width:80%;}

dl,dt,dd {margin:0; padding:0;}