<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="link outbox">
        <div class="cap">
            学校链接</div>
         $Tag_LinkDefault$
        <div class="clear">
        </div>
    </div>
    <div class="bottom">
        <a href="#">设置首页</a>－<a href="#">加入收藏</a>－<a href="#">版权声明</a>－<a href="#">联系方式</a>－<a
            href="#">网站地图</a><br />
        鞍山市铁东区教育局版权所有<br />
        辽ICP备<div>
        </div>
    </div>
</body>
</html>
