@charset "utf-8";
/* CSS Document */
.main {}
.picNewsBox {border:1px solid #222; margin:0 3px; background:#000; margin-bottom:3px;}
.main .left {width:987px;}
table {width:713px; float:left; margin-left:6px; _margin-left:3px;}
td {height:479px; text-align:center; vertical-align:middle;}
table img {width:464px; height:190px;}
.newsList {float:right; width:254px; line-height:22px; background:#000; margin-right:6px;}
.newsList li {margin:2px 0; margin-right:2px;}
.newsList a {border:1px solid #222; color:#aaa; display:block; height:22px;  padding-left:8px; background:#040404;}
.newsList a.up {color:#93f416; padding-left:16px; background:url(../images/picNewsArrow.gif) 5px -2px no-repeat; }
.newsList a:hover {padding-left:16px; border:1px solid #999; background:#181818 url(../images/picNewsArrow.gif) 5px -2px no-repeat;}
.fenye {color:#a8a8a8; text-align:right;}
.fenye a {display:inline; color:#fbef2a; border:0; background:none; padding:0;}
.fenye a:hover {display:inline; text-decoration:underline; border:0; background:none; padding:0;}