<?xml version="1.0" encoding="utf-8"?>
<Setting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Entries>
    <Entry Key="ConnectionString" Value="Initial Catalog=Website;data source=192.168.1.103;user ID=sa;PWD=" />
    <Entry Key="MeetingConnectionString" Value="Initial Catalog=wisoffice;data source=(local);user ID=sa;PWD=" />
  </Entries>
</Setting>