<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="uploadSettings" type="Wis.Toolkit.WebControls.FileUploads.UploadConfigurationSection, Wis.Toolkit"/>
  </configSections>
  <appSettings>
    <add key="ReleaseDirectory" value="Web"/>
    <add key="TemplateRootDirectory" value="Templates/tdedu0201/"/>
    <add key="ReleaseRootDirectory" value="Web/"/>
  </appSettings>
  <connectionStrings>
    <add name="connectionString" connectionString="Initial Catalog=Website;data source=.;user ID=sa;PWD=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- File upload module settings -->
  <uploadSettings
    allowedFileExtensions=".pdf,.xls,.doc,.zip,.rar,.iso,.png,.jpg,.gif,.ppt"
    scriptPath="upload_scripts"
    imagePath="upload_images"
    cssPath="upload_styles"
    showProgressBar="true"
    showCancelButton="true"
    enableManualProcessing="true"
  />
  <system.web>
    <pages validateRequest="false" enableEventValidation="false"/>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。


        -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpRuntime executionTimeout="3600" maxRequestLength="2097151" />
    <compilation debug="true">

      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的


            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <siteMap enabled="true" defaultProvider="SiteMapDataProvider">
      <providers>
        <add name="SiteMapDataProvider" type="Wis.Toolkit.SiteMapDataProvider, Wis.Toolkit"/>
      </providers>
    </siteMap>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页


            以代替错误堆栈跟踪。


 -->
    <customErrors mode="RemoteOnly" defaultRedirect="error.html">
      <error statusCode="403" redirect="error.html"/>
      <error statusCode="404" redirect="error.html"/>
    </customErrors>
    <httpHandlers>
      <add verb="*" path="/A/CommentVerify.aspx" type="Wis.Website.AjaxRequests.CommentVerifyHttpHandler, Wis.Website"/>
      <add verb="*" path="/A/Comment.aspx" type="Wis.Website.AjaxRequests.CommentHttpHandler, Wis.Website"/>
      <add verb="*" path="/AjaxRequests/Meeting.aspx" type="Wis.Website.AjaxRequests.MeetingHttpHandler,Wis.Website"/>
      <add verb="*" path="/AjaxRequests/Article.aspx" type="Wis.Website.AjaxRequests.ArticleHttpHandler,Wis.Website"/>
      <add verb="*" path="/AjaxRequests/System.aspx" type="Wis.Website.AjaxRequests.SystemHttpHandler,Wis.Website"/>
      <add verb="*" path="/AjaxRequests/Comment.aspx" type="Wis.Website.AjaxRequests.CommentHttpHandler,Wis.Website"/>
      <add verb="GET" type="Wis.Toolkit.WebControls.FileUploads.UploadProgressHandler, Wis.Toolkit" path="UploadProgress.ashx"/>
    </httpHandlers>
    <httpModules>
      <add name="upload_module" type="Wis.Toolkit.WebControls.FileUploads.UploadModule, Wis.Toolkit"/>
    </httpModules>
  </system.web>
  <system.codedom>
  </system.codedom>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。


    -->
  <system.webServer>
    <modules>
      <remove name="upload_module" />
      <add name="upload_module" type="Wis.Toolkit.WebControls.FileUploads.UploadModule, Wis.Toolkit" />
    </modules>
    <handlers>
      <add name="UploadProgress" verb="GET" type="Wis.Toolkit.WebControls.FileUploads.UploadProgressHandler, Wis.Toolkit" path="UploadProgress.ashx" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>