/* 当前视图样式 */
td.HtmlEditor_DesignView_TabOn {
	font: 8pt MS Sans Serif;
	border-left: 1 solid #FFFFFF;
	border-right: 1 solid #808080;
	border-top: 1 solid #9EBEF5;
	border-bottom: 1 solid #808080;
	background-color: #9EBEF5;
}
td.HtmlEditor_DesignView_TabOff {}

iframe.HtmlEditor_Designer {
	border-right: 1 solid #4e4e4e;
	border-left: 1 solid #4e4e4e;
	border-top: 1 solid #4e4e4e;
	border-bottom: 1 solid #4e4e4e;
	frameBorder: 0;
}
body.HtmlEditor {
	scrollbar-3dlight-color: #D4D0C8;
	scrollbar-arrow-color: #000000;
	scrollbar-base-color: #D4D0C8;
	scrollbar-darkshadow-color: #D4D0C8;
	scrollbar-face-color: #D4D0C8;
	scrollbar-highlight-color: #808080;
	scrollbar-shadow-color: #808080;
	scrollbar-track-color: #D4D0C8;
}

.MenuTitle 
{
	font-size:12px;
	font-family:Arial;
	color: #3d6ba9;
}

/* style of designer view */
.DesignerView
{
	font-size:12px;
	font-family:Arial;
	color: #4e4e4e;
}

/* style of toolbarselect */
select.HtmlEditor_ToolbarSelect {
	font-size:12px;
	font-family:Arial;
}
