/* CSS Document */
body {margin:0;	padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
ul,li, dl, dt, dd {margin:0; padding:0; list-style:none;}
a {
	text-decoration:none;
	color:#00429c;
}
a {color:#1b417f; text-decoration:none;}
a:hover {
	color:#f11;
}
#clear {clear:both;}
.clear {clear:both;}
.red {color:red;}
span.gray {color:#444;}
.header {
	height:64px;
	background:url(../images/HeadBg.jpg);
}
.header_right {
	width:333px;
	height:64px;
	position:absolute;
	right:12px;
	top:0;
	background:url(../images/HeadMiddleRight_01.jpg) left no-repeat;
}
.header_right ul {
	width:236px;
	float:right;
	background:url(../images/TopBar_bg.jpg) repeat-x;
}
.header_right ul li {
	height:36px;
	padding:0 6px 0 17px;
	padding-top:12px;
	*padding-top:14px;
	float:right;
}
.header_right ul li.nav1 {
	background:url(../images/lastlogin.gif) left 13px no-repeat;
}
.header_right ul li.nav2 {
	background:url(../images/btnWrite.gif) left 12px no-repeat;
}
.header_right ul li.nav3 {
	background:url(../images/Archives.gif) left 12px no-repeat;
}
.header_right ul li.right {
	width:12px;
	padding:0;
	background:url(../images/TopBar_Left.jpg) no-repeat;
}
.header_right ul li.left {
	width:11px;
	padding:0;
	background:url(../images/TopBar_right.jpg) no-repeat;
}
.menu {
	height:24px;
	background:url(../images/NavigationBg.jpg);
}
div.menu ul li {
	float:left;
	width:86px;
	height:24px;
	margin:0 1px;
	background:#f11 url(../images/NavOptionOffBg.jpg) repeat-x;
	text-align:center;
}
div.menu ul li.nav_on {
	background:url(../images/NavOptionUpBg.jpg);
}
div.menu ul {
	margin-left:6px;
}
div.menu ul li a {
	width:86px;
	height:24px;
	line-height:27px;
	text-indent:16px;
	color:#004499;
	text-decoration:none;
	display:block;
	overflow:hidden;
}
div.menu ul li a:hover {
	color:#f11;
}
a.menu1 {
	background:url(../images/home.gif) 4px 5px no-repeat;
}
a.menu2 {
	background:url(../images/newhouse.gif) 4px 5px no-repeat;
}
a.menu3 {
	background:url(../images/OldHouse.gif) 4px 5px no-repeat;
}
a.menu4 {
	background:url(../images/rent.gif) 6px 5px no-repeat;
}
a.menu5 {
	background:url(../images/D_map.gif) 6px 5px no-repeat;
}
a.menu6 {
	background:url(../images/tel.gif) 4px 5px no-repeat;
}
a.menu7 {
	background:url(../images/configuration.gif) 4px 3px no-repeat;
}
a.menu8 {
	background:url(../images/news.gif) 4px 4px no-repeat;
}
a.menu9 {
	background:url(../images/ico_ad.gif) 4px 8px no-repeat;
}
a.menu10 {
	background:url(../images/users.gif) 4px 5px no-repeat;
}
a.menu11 {
	background:url(../images/FRIENDLINK.gif) 4px 6px no-repeat;
}
.main {
	_height:460px;
	min-height:460px;
	width:100%;
	padding-top:14px;
	background:#E6F5FF url(../images/MainTopBg.jpg) top repeat-x;
}
.leftbar {width:160px;  background:#d6e7f7; margin-left:5px; border:1px solid #9fb5d2; float:left; display:inline;}
.leftbar ul {border:1px solid #bddef7; background:#fff; margin:3px;}
.leftbar ul li {line-height:22px; height:22px; text-indent:20px; border-bottom:1px solid #fff;}
.leftbar ul li a {display:block; height:22px; background:#e1f5fd url(../images/ico2.gif) 6px 4px no-repeat;}
.leftbar ul li a:hover {background:#bddfee url(../images/ico2.gif) 6px 4px no-repeat;}
.leftbar ul li a.selected {background:#bddfee url(../images/ico2.gif) 6px 4px no-repeat;}
.leftbar ul li.ind {line-height:22px; text-indent:20px;}
.leftbar ul li.ind a {background:#e1f5fd url(../images/ico2.gif) 12px 8px no-repeat;}
.leftbar ul li.ind a.selected {background:#bddfee url(../images/ico2.gif) 12px 8px no-repeat;}
.leftbar ul li.ind a:hover {background:#bddfee url(../images/ico2.gif) 12px 8px no-repeat;}
.leftbar div {}
.leftbar div a:hover {}
.leftbar div.border {border:1px solid #bddef7; background:#fff; margin:3px; height:auto;}
.leftbar div.selected {line-height:22px; height:22px; vertical-align:middle; text-indent:6px; background:#bddfee; border-bottom:1px solid #fff;}
.leftbar div.Parent{line-height:22px; height:22px; vertical-align:middle; text-indent:6px; background:#e1f5fd; border-bottom:1px solid #fff;}

div.right {background:#d6e7f7; margin-left:0px; _margin-left:4px;}
div.viewvdieo {background:#ffffff;border:1px solid #9fb5d2; height:100%; margin:4px 4px 4px 4px;}
div.right .schBox {line-height:20px;}
div.right .schBox label {width:80px; display:inline-block; text-align:right; vertical-align:middle; margin-left:2px;}
div.right .schBox label.editor {width:320px; display:inline-block; text-align:left; margin-left:2px;}
div.right  label.video {width:65px; display:inline-block; text-align:left; margin-left:5px;}
div.right .schBox input { height:14px; line-height:14px; margin:1px auto;}
div.right .schBox input.keyText {width:475px;}
div.right .schBox input.schbtn {width:57px; height:22px; border:0; margin:0 0 0 6px;cursor:pointer; background:url(../images/schbtn.gif) no-repeat;}
div.right .schBox input.saveBtn {width:64px; height:22px; border:0; margin:6px 0 6px 350px; cursor:pointer; background:url(../images/saveBtn.gif) no-repeat;}
div.right .schBox input.fujian { height:22px; line-height:22px; margin:1px auto;}

table.schTable {border-collapse:collapse; width:99%; margin:0 auto; margin-bottom:4px;}
table.schTable td {height:25px; line-height:25px; border:1px solid #bed8f4; background:#fff; text-align:center;}
table.schTable tr.cap td {height:26px; background:url(../images/bgHeader.jpg) top left;}
table.schTable td.alignRight {text-align:right; padding-right:4px;}
table.schTable td.alignLeft {text-align:left; padding-left:4px;}

div.addBox {line-height:20px;}
div.addBox label {width:74px; display:inline-block; text-align:right;vertical-align:middle; margin-left:2px;}
div.addBox label.long{width:100px;}
div.addBox input {width:200px;}
div.addBox select {margin:3px auto;}
div.addBox input.keyText {width:475px;}
input.title {width:475px;}
div.addBox input.schbtn {width:57px; height:16px; border:0; margin:0 0 0 6px; background:url(../images/schbtn.gif) no-repeat;}
div.addBox textarea {width:540px; margin-left:30px;}
div.addBox label.selectRight {margin-left:133px;}
div.addBox input.addStreet {width:334px;}
div.addBox label.code {width:70px;}
div.addBox input.code {width:70px;}
div.addBox label.city {width:50px;}
div.addBox input.city {width:100px;}
div.addBox label.select {width:50px;}
div.addBox input.saveBtn {width:64px; height:22px; border:0; margin:6px 0 6px 280px;cursor:pointer; background:url(../images/saveBtn.gif) no-repeat;}
input.saveBtn {width:141px; height:38px; border:0; margin:0px 0 6px 280px;cursor:pointer; background:url(../images/btnBig.gif) no-repeat;}

div.importBox label {margin-left:6px;}
div.importBox input {width:300px; height:18px; line-height:14px; font-size:12px;}
a.exmFiles {color:#f11; margin-left:16px;}
a.exmFiles:hover {color:#009; text-decoration:underline;}
div.importBox input.importBtn {width:64px; height:22px; border:0; margin:4px 0 8px 101px; background:url(../images/importBtn.gif) no-repeat;}
div.importBox dl {border:1px solid #f8f8f8; width:600px; margin:0 0 6px 6px; background:#bddfee;}
div.importBox dl dt {margin-left:16px; line-height:22px; font-weight:bold; color:#444;}
div.importBox dl dd {color:red; line-height:18px;}

div.slBox {margin-left:30px;}
div.slBox input.radio {width:30px;}
div.slBox input {margin:0;}
div.slBox textarea {margin:0;}
div.addBox input.sldjBtn {width:64px; height:22px; line-height:22px; margin:4px 5px 6px 220px; border:0; background:url(../images/sldjBtn.gif) no-repeat;}
div.addBox input.back {margin:4px 5px 6px 2px;}



div.right div {clear:both; margin:4px 0 4px 0;}
div.right div.box {margin:4px 0 4px 0; width:800px;}
div.right div.dropdownmenu { margin:0;}
div.right div input {float:left;}
div.right div label {float:left;}
div.right div textarea {float:left;width:580px; }
div.right div#divArticleType input {float:none;}
    
div.right div#divCategory {height:22px; clear:none;}
div.right div#divCategory div.dropdownmenu {line-height:23px; height:20px; width:200px; float:left; clear:none; font-size:12px; font-family:"宋体";}

/*
label.articleLabel {width:60px; float:left;  margin:3px 0; margin-right:8px; text-align:right; height:22px; line-height:22px;}
label.articleLabel label {padding-left:5px; margin-top:20px;}
label.articleLabel label span {font-family:"Arial"; line-height:22px;}
*/

#divTitle {clear:both;}


div.right div.slt {clear:none; float:left;}
div.right div.slt div {width:480px;}
div.right div.slt div.Preview {width:466px; border:solid 1px #fff;}
div.right div.slt div.Preview img {width:466px; height:190px; display:inline;}

div.right div.slt div label {width:20px;  margin:0 3px 3px 3px; float:none;}
div.right div.slt div input {float:none;}
div.right div.slt iframe {height:26px;}

    
  
#ContentHtmlContainer {margin:0; float:left;}

div.update {width:57px; height:22px; border:0; margin:0 0 0 6px; background:url(../images/schbtn.gif) no-repeat;}

.bottom {
	height:39px;
	line-height:39px;
	padding-top:11px;
	background:url(../images/BottomBg.jpg);
	text-align:center;
}
iframe {
	
	overflow:visible;
}
.page {text-align:right; height:26px; line-height:26px; padding-right:15px;}
.Pager, .Current { display:inline-block;margin:1px;text-decoration:none;font-size:12px;text-align:center;line-height:15px;padding:1px 2px;width:auto;}
.Current{color:#fe0623;}


.command 
{PADDING-LEFT: 4px; PADDING-RIGHT: 4px; 
PADDING-TOP: 4px; PADDING-BOTTOM: 2px; 
BORDER-RIGHT: #2A5991 1px solid; 
BORDER-TOP: #2A5991 1px solid; 
	display:inline; BACKGROUND: #E2F3FD; 
FLOAT: left; 
MARGIN: 0px 4px; BORDER-LEFT: #2A5991 1px solid; 
COLOR: #9f6536; BORDER-BOTTOM: #2A5991 1px solid;
 TEXT-ALIGN: center; TEXT-DECORATION: none;
  cursor:pointer; 
	  onmouseover:expression(onmouseover=function(){this.style.color='#FF0000';this.style.color='#FB7A31';this.style.color ='#FF0000';});
    onmouseout:expression(onmouseout=function(){this.style.color='';this.style.color='';this.style.color =''}); 
}
DIV.command a {
PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; PADDING-BOTTOM: 2px; BORDER-RIGHT: #2A5991 1px solid; BORDER-TOP: #2A5991 1px solid; DISPLAY: inline; BACKGROUND: #E2F3FD; FLOAT: right; MARGIN: 0px 3px; BORDER-LEFT: #2A5991 1px solid; COLOR: #9f6536; BORDER-BOTTOM: #2A5991 1px solid; TEXT-ALIGN: center; TEXT-DECORATION: none
}
DIV.command a:hover {
BORDER-RIGHT: #2A5991 1px solid; BORDER-TOP: #2A5991 1px solid; BACKGROUND: #80dcff; BORDER-LEFT: #2A5991 1px solid; COLOR: #FF0000; BORDER-BOTTOM: #2A5991 1px solid
}
.selectStyle
{
	background-color: #F4FAFF;
	border: 1px double #014954;
	font-size: 12px;
	color: #000000;
	line-height: 18px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=#C5C5C5,offX=2,offY=2,positives=true);
}
.lionrong {
	background-color: #FFFFE1;
	border: 1px double #000000;
	font-size:12px;
	color:#9D1C07;
	line-height: 18px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:10px;
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=#B6B6B6,offX=2,offY=2,positives=true);
}

.ico_att  
{
	MARGIN: 0px 3px 2px 0px;
	BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    BACKGROUND: url(../images/compose.gif) no-repeat 0px -53px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: medium none;
    WIDTH: 12px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    HEIGHT: 13px
}


#divTag {line-height:24px;}


/* 列表页搜索和分页 */

div.right div.AticleSch {}
div.right div.AticleSch label {float:left; height:22px; line-height:22px; margin:0; padding:0; display:inline-block;}
div.right div.AticleSch input {float:left; height:18px;  margin:0; padding:0; display:inline-block;}
div.right div.AticleSch a {float:left; text-align:center; margin-left:3px; padding:0; display:inline-block; height:22px; width:57px; line-height:22px;}
div.right div.AticleSch a.addNews {float:right; text-decoration:underline;}

div.AticleSch {border:solid 1px #a3b5cd; background:#f7fbfe; padding:11px 12px 4px 12px; width:774px; margin:5px 0;}
div.AticleSch input {float:none; margin:0; padding:0;}
div.AticleSch select {margin:0; padding:0;}


div.rightBox_in {border:solid 1px #a3b5cd; background:#f7fbfe; padding:6px 12px 6px 12px; width:774px; margin:5px 0;}
div.rightBox_in label {margin-right:2px; display:inline-block; height:22px; line-height:22px; float:left;}
div.rightBox_in input {height:16px; line-height:16px; float:left; margin-right:6px;}
div.rightBox_in input.button {height:20px;  line-height:16px; padding:0 6px; float:left; margin-right:6px;}
div.rightBox_in a {float:right; border:solid 1px #a3b5cd; padding:2px 5px 2px 5px; *padding:2px 5px 2px 5px; background:#f7fbfe; }

div.rightBox_in .clear {margin:0; *display:none;}

.page a {border:solid 1px #a3b5cd; background:#f8f8f8; font-family:宋体; height:22px; overflow:hidden; padding:3px 4px 2px 4px;}
.page a.noLink {color:#666; cursor:default; Background:#f8f8f8;}



/* 列表通用 */
.listBox {padding-left:8px; width:800px; padding-top:4px;}
.ListBox {padding-left:8px; width:812px;}

.listBox ul {float:left; border-bottom:solid 1px #a3b5cd; border-right:solid 1px #a3b5cd;  width:100%;}
.listBox ul.top {border-top:solid 1px #a3b5cd;}
.listBox ul li {float:left; height:24px; line-height:24px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; border-left:solid 1px #a3b5cd; text-indent:6px;}

li.Operate a {border:solid 1px #a3b5cd; background:#f8f8f8; font-family:宋体; overflow:hidden; padding:2px 4px 1px 4px; margin-right:4px;}
li.Operate a:hover {background:#f6f6f6;  background:#f00; color:#5281ab; color:#fff;}



/* 权限列表 */



/* 角色管理 */



/* 用户组管理 */


/* 用户管理 */

.userEdit {border:solid 1px #a3b5cd; background:#f7fbfe; padding:8px; margin:5px 0; position:relative;}
.userEdit div {margin:0 0; padding:10px 0; border:solid 1px #c6d4e3; border-bottom:0; background:#fcfcfc; width:600px;}
.userEdit div.borBot {border:solid 1px #c6d4e3;}
.userEdit div label {width:90px; display:inline-block; padding-top:3px; text-align:right;}
.userEdit span.moreInfo {padding:4px 0 4px 24px; background:url(../images/moreInfo2.gif) 10px center no-repeat; *background-position:10px 3px; cursor:pointer;}
.userEdit span.moreInfo2 {padding:4px 0 4px 24px; background:url(../images/moreInfo.gif) 10px center no-repeat; *background-position:10px 3px; cursor:pointer;}


.userEdit ul {float:none; border:0;}
.userEdit ul.top { border:0; }
.userEdit ul.top li {border-bottom:solid 1px #ccc;}
.userEdit ul li {float:none; border:0; height:26px; line-height:26px; padding-top:1px;}
.userEdit ul li span {display:inline-block; width:120px; margin-left:12px;}


/* 普通新闻管理 */
.artcleList ul li.listSort {width:88px; border-left:solid 1px #a3b5cd;}
.artcleList ul li.listTitle {width:318px;}
.artcleList ul li.listTime {width:128px;}
.artcleList ul li.listUser { width:89px;}
.artcleList ul li.listOperate {width:170px;}
.artcleList ul.top li {}


/* 视频新闻管理 */



/* 博客管理 */



/* 博客皮肤管理 */
.BlogSkinList {}

.BlogSkinList li.f {}


/* 开通博客 */
.openBlog {}
.openBlog label {float:left;}
.openBlog div.clear {clear:both; border:0; font-size:0; padding:0;}
.openBlog dl {float:left; margin:0; padding:0; width:510px;}
.openBlog dl dd {float:left; width:76px; margin-right:8px; overflow:hidden; margin-bottom:8px;}
.openBlog dl dd a img {padding:1px; border:solid 3px #c0c0c0; background:#fff; width:68px; height:68px;}
.openBlog dl dd a:hover img {padding:1px; border:solid 3px #ca8c34; background:#fff; width:68px; height:68px;}


/* 博客信息修改 */
div.blgInfo {margin-top:4px; padding-top:0; padding-bottom:0; color:#444;}
div.blgInfo ul {border:0;}
div.blgInfo li {margin:0 38px 0 4px; text-align:left; border:0; overflow:visible;}
div.blgInfo div.clear {border:0; margin:0; padding:0; font-size:0;}


/* 博客分类 */
.blogList li.li1 {width:200px;}
.blogList li.li2 {width:80px;}
.blogList li.li3 {width:25px; border-left:0; text-indent:0;}


/* 博客链接管理 */



/* 博客文章管理 */



/* 发表博客 */
.blogEdit {border:solid 1px #a3b5cd; background:#f7fbfe; padding:8px; margin:5px 0; position:relative;}
.blogEdit div {margin:0 0; padding:3px 0; border:0; background:#fcfcfc;}
.blogEdit div.borBot {}
.blogEdit div label {width:90px; display:inline-block; padding-top:3px; text-align:right;}


/* 系统配置 */






/* 图片管理列表 */
.picListBox {padding-left:8px; width:810px;}
.picListBox ul {float:left; width:auto;}
.picListBox ul li {float:left; height:24px; line-height:24px; height:120px; overflow:hidden; text-indent:6px; border:solid 1px #a3b5cd; border-top:0;}
.picListBox ul li.picSmall {width:120px; line-height:120px;}
.picListBox ul li.picSmall img {width:100px;}
.picListBox ul li.picTitle {width:160px; border-left:0;}
.picListBox ul li.picDes {width:180px; border-left:0;}
.picListBox ul li.picAddTime {width:140px; border-left:0;}
.picListBox ul li.picUser { width:90px; border-left:0;}
.picListBox ul li.picOperate {width:105px; border-left:0;}
.picListBox ul.top li {height:24px; line-height:24px; border-top:solid 1px #a3b5cd;}


/* 附件管理列表 */
.FileListBox {padding-left:8px; width:810px;}
.FileListBox ul {float:left; width:auto;}
.FileListBox ul li {float:left; height:24px; line-height:24px; overflow:hidden; text-indent:6px; border:solid 1px #a3b5cd; border-top:0;}
.FileListBox ul li.fileTitle {width:160px;}
.FileListBox ul li.fileSize {width:120px; border-left:0;}
.FileListBox ul li.fileDes {width:195px; border-left:0;}
.FileListBox ul li.fileAddTime {width:140px; border-left:0;}
.FileListBox ul li.fileUser { width:80px; border-left:0;}
.FileListBox ul li.fileOperate {width:100px; border-left:0;}
.FileListBox ul.top li {height:24px; line-height:24px; border-top:solid 1px #a3b5cd;}



/* 友情链接管理列表 */
.LinkListBox {padding-left:8px; width:812px;}
.LinkListBox ul {float:left;}
.LinkListBox ul li {float:left; line-height:24px; overflow:hidden; text-indent:6px; border:solid 1px #a3b5cd; border-top:0;}
.LinkListBox ul li.LinkTitle {width:130px;}
.LinkListBox ul li.LinkUrl {width:195px; border-left:0;}
.LinkListBox ul li.LinkDes {width:150px; border-left:0;}
.LinkListBox ul li.LinkAddTime {width:140px; border-left:0;}
.LinkListBox ul li.LinkUser { width:80px; border-left:0;}
.LinkListBox ul li.LinkOperate {width:100px; border-left:0;}

li.LinkOperate a {border:solid 1px #a3b5cd; background:#e6edf5; color:#6f6f6f; font-family:宋体; height:22px; overflow:hidden; padding:3px 4px 2px 4px; margin:0 2px;}
li.LinkOperate a:hover {background:#f6f6f6; color:#5281ab;}
.LinkListBox ul.top li {height:24px; line-height:24px; border-top:solid 1px #a3b5cd;}

a.addFiles {border:solid 1px #a3b5cd; font-family:宋体; height:22px; padding:3px 6px 2px 6px;}




/* 分类管理 */
.CateGoryList {background:#f2f7fb; width:800px; margin-left:4px; border:solid 1px #aab3c2; padding:6px 0; margin-top:4px; font-family:"宋体";}
.CateGoryList ul {float:left; padding-left:6px; width:780px;}
.CateGoryList ul.top li {border-top:solid 1px #ccc;}
.CateGoryList ul li {float:left; text-indent:6px; line-height:22px; border-left:solid 1px #ccc; border-bottom:solid 1px #ccc;}

.CateGoryList ul li.li1 {width:80px;}
.CateGoryList ul li.li2 {width:180px;}
.CateGoryList ul li.li3 {width:180px;}
.CateGoryList ul li.li4 {width:100px; border-right:solid 1px #ccc;}
.CateGoryList ul li.li4 a {border:solid 1px #a3b5cd; background:#e6edf5; color:#6f6f6f; font-family:宋体; overflow:hidden; padding:2px 4px 1px 4px; margin-right:4px;}
.CateGoryList ul li.li4 a:hover {background:#f6f6f6;  background:#f00; color:#5281ab; color:#fff;}





/* 添加文章 */
.add_step {background:#f2f7fb; width:800px; margin-left:4px; border:solid 1px #aab3c2; padding:6px 0; margin-top:4px;}
.add_step ul {height:25px; padding-left:6px;}
.add_step ul li {width:152px; height:25px; line-height:25px; *line-height:27px; margin-right:-8px; float:left; background:url(../images/step2.gif) center top no-repeat; text-indent:18px; overflow:hidden; color:#444;}
.add_step ul li.current_step {background:url(../images/step1.gif) center top no-repeat; color:#fff;}


.add_main {background:#f2f7fb; width:800px; margin-left:4px; border:solid 1px #aab3c2; padding:6px 0; margin-top:4px; font-family:"宋体";}
.add_main div {padding:2px 0;}

.add_button {text-align:center; width:800px; margin-top:4px; padding-bottom:4px;}
.add_button a img {border:0;}
.add_step3 div {padding:3px 0;}

.checked, .unCheck {height:22px; padding:0 4px 0 0; display:inline-block; cursor:pointer;}
.checked {background:#e7f5ff url(../images/checked.gif) 1px center no-repeat; border:solid 1px #a2b4c8; color:#009900;}
.unCheck {background:#cee1f4 url(../images/unchecked.gif) 1px center no-repeat;; border:solid 1px #b9c7d6; color:#222;}

.checked input, .unCheck input {visibility:hidden;}

.add_step4 {padding-left:8px; width:792px; padding-top:12px;}

.add_main div label {width:90px; padding-top:4px; text-align:right; float:left;}
.add_main div.step1 {padding:8px 22px;}
.add_main div.step1 select {float:left; width:160px; height:220px; text-align:right;}
.add_main div.step1 option {float:right; text-align:right;}
.add_main div.step1 span {float:left; text-align:center; font-family:"宋体"; height:220px; line-height:200px; width:30px;}

.add_main div.addInfoLink {padding:6px 0 6px 88px;}
.add_main div.addInfoLink a {margin-right:8px; text-decoration:underline;}
.add_main div#divShortcut {padding:6px 0 6px 92px;}
.add_main div#divShortcut a {margin-right:8px; text-decoration:underline;}

.add_main div.softText {padding:2px 0 4px 84px;}
.add_main div.softText a {margin:0 4px; text-decoration:none;}
.add_main div.softText a u {margin:0 4px; text-decoration:none;}
.add_main div.softText a {margin:0 4px; text-decoration:none;}


.add_main ul {float:left; border-left:0; background:#f5f5fe;}
.add_main ul.top {border-top:solid 1px #b0b9cd; margin-top:4px;}
.add_main ul li {float:left; text-indent:6px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; height:22px; line-height:22px; border:solid 1px #b0b9cd; border-top:0; border-left:0;}
.add_main ul li.step4_li1 {width:190px;}
.add_main ul li.step4_li2 {width:220px;}
.add_main ul li.step4_li3 {width:300px;}
.add_main ul li.step4_li5 {width:32px;}
.add_main ul li.step4_li4 {width:32px; border-left:solid 1px #b0b9cd;}



#Position {padding:4px 0; width:100%; text-align:left; font-family:宋体; text-indent:6px; background:#fff url(../images/bar.gif) repeat-x; border:1px solid #bddef7; overflow:hidden;}
#Warning {width:750px; min-height:20px; border:solid 1px #a3b5c9; margin:4px; background:#f9f8e4 url(../images/warning.gif) 7px center no-repeat; padding:8px 8px 8px 42px;}
#Warning a {margin:0 2px; text-decoration:underline;}
#Warning a:hover {background:#eef852;}
