<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;  charset=utf-8" />
<title>意见反馈-北京鑫源隆建材有限公司</title>
<link href="/Templates/bjxyl/css/css.css" rel="stylesheet" type="text/css" />
<link href="/Templates/bjxyl/css/nav.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container_1">
<!--网站头部 -->
  <div id="header">
    <div class="top" style="position:relative;">


<object style="z-index:10;" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="940" height="175">
                      <param name="movie" value="/Templates/bjxyl/header.swf">
  <param name="quality" value="high">
                      <param name="wmode" value="transparent">
  <embed src="/Templates/bjxyl/header.swf" width="940" height="175" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
</object>


<object style="position:absolute; left:0; top:0; z-index:100;" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="940" height="175">
                      <param name="movie" value="/Templates/bjxyl/transparent.swf">
  <param name="quality" value="high">
                      <param name="wmode" value="transparent">
  <embed src="/Templates/bjxyl/transparent.swf" width="940" height="175" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
</object>
    </div>
  </div>
<!--网站导航 -->
<div id="pointermenu">
<ul>
<li><a href="/web/default.htm">&nbsp;&nbsp;首页&nbsp;&nbsp;</a></li>
<li><a href="/web/1/1.htm">防水系列</a></li>
<li><a href="/web/2/1.htm">干粉系列</a></li>
<li><a href="/web/15/1.htm">工程典例</a></li>
<li><a href="/web/about.htm" title="公司简介">公司简介</a></li>
<li><a href="/web/honor.htm">荣誉证书</a></li>
<li><a href="/web/contact.htm">联系我们</a></li>
<li><a href="/web/propose.htm" id="selected">意见反馈</a></li>
</ul>

</div>

 <!--网站中部 -->
 <div id="content">
    <div id="left_1">
	<div class="left_title">产品展示</div>
	<ul class="menu">
	 <li><a href="/web/1/1.htm" id="A1">防水系列</a></li>
	 <li><a href="/web/2/1.htm">干粉系列</a></li>
	</ul>
	<div  class="left_bg"></div> 
    </div>
	<div id="n_middle">
	<div class="NewsPaperTitle">意见与建议</div>
<div  class="proposeblock">
<form action="mailto:lihong@bjxyl.com" encType="text/plain" method=post>您对鑫源隆建材有任何意见，都可以在这里提交，我们将及时做出处理。<br/>
       <br />   
       <span class="propose">
         您的主题：
         <input name="textfield1" type="text" class="proposetextarea" id="textfield" size="56"  />
         <br />
         <span style="vertical-align:top; line-height:22px; display: inline-block;">你的留言：</span>
         <textarea  class="proposetextarea" style="height:140px; width:366px;"></textarea>
        </span><br />
     电子邮箱：
     <input name="textfield2" type="text" class="proposetextarea" id="textfield" size="56" />
     <br />
     电话号码：
     <input type="text" name="textfield" class="proposetextarea" id="textfield" size="56" />
     <br />
     您的姓名：
     <input type="text" name="textfield" class="proposetextarea" id="textfield" size="56" />
     <br />
     你的单位：
     <input type="text" name="textfield" class="proposetextarea" id="textfield" size="56" />
     <br />
       <input type="image" src="/Templates/bjxyl/images/submit.gif" style="clear:both; margin-top:8px;padding-left:230px;"/></form></div>

    </div>
	<div id="right_1">
	  <div class="right_1title">我们如何可以帮助您？</div>
	  <ul>
	    <li><a href="/web/about.htm">查看公司简介</a></li><li><a href="/web/contact.htm">联系我们</a></li><li><a href="/web/15/1.htm">工程典例</a></li>
	  </ul>

    </div>
 </div>
<div id="bottom"><span class="Arial">Copyright &copy; 2008 bjxyl.com All Rights Reserved</span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; 版权所有：北京鑫源隆建材有限公司 &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;技术支持：<a href="http://www.everwis.com" target="_blank">北京东方常智科技有限公司</a></div>
</div>
</body>
</html>
