<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>铁东教育信息</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />

    <script language="javascript" src="../JavaScript/indexTab.js"></script>

    <script language="javascript" src="../JavaScript/picNews.js"></script>
     <script src="../JavaScript/Website.js" language="javascript" type="text/javascript"></script>

    <script src="../JavaScript/Ajax.js" language="javascript" type="text/javascript"></script>

    <script src="../JavaScript/Pager.js" language="javascript" type="text/javascript"></script>

    <script src="../JavaScript/Meeting.js" language="javascript" type="text/javascript"></script>
</head>
<body onload="WebsiteObj.Meeting.LoadXmlIndex()">
    <div class="header">
        <div class="headerBox">
            <img src="../images/logo.gif" width="173px" height="53px" />
            <div class="loginBox">
                用户名：
                <input type="text" size="12" />
                密码：
                <input type="text" size="12" />
                <input type="button" class="btn" />
            </div>
            <ul>
                <li class="left"></li>
                <li><a href="index.html" title="首页">首页</a></li><li class="sep">|</li>
                <li><a href="jydt/index.html" target="_blank" >教育动态</a></li><li class="sep">
                    |</li>
                <li><a href="jxyj/index.html" target="_blank" >教学研究</a></li><li class="sep">
                    |</li>
                <li><a href="hyxx/index.html" target="_blank" >会议资源</a></li><li class="sep">
                    |</li>
                <li><a href="ztxx/index.html" target="_blank" >专题信息</a></li><li class="sep">
                    |</li>
                <li><a href="http://218.24.13.83/jsp/" target="_blank" >东师资源</a></li><li
                    class="sep">|</li>
                <li><a href="tdzy/index.html" target="_blank" >铁东资源</a></li><li class="sep">
                    |</li>
                <li><a href="tdjy/index.html" target="_blank" >铁东教育</a></li><li class="sep">
                    |</li>
                <li><a href="msfc/index.html" target="_blank" >名师风采</a></li><li class="sep">
                    |</li>
                <li><a href="jybk/index.html" target="_blank" >教育博客</a></li>
                <li class="right"></li>
            </ul>
            <div class="clear">
            </div>
        </div>
    </div>
    <div class="center">
        <div class="picNews">
            <div id="flashflash">
            </div>
            $Tag_flash$
        </div>
        <div class="meeting outbox">
            <div class="cap">
                <a href="hyxx/index.html" title="查看更多" target=_blank>更多</a>会议信息</div>
            <ul class="indexList" id="meeting">
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="center">
        <div class="left">
            <div class="indexleft outbox tabBox">
                <div class="cap">
                    <a href="jydt/index.html" target="_blank" title="查看更多">更多</a>教育动态</div>
                <div>
                    <ul class="tab" id="myTabA">
                        <li class="active" onmouseover="tabsShow(this,0)"><a href="#" title="#">党&nbsp;&nbsp;&nbsp;&nbsp;群</a></li>
                        <li onmouseover="tabsShow(this,1)" style="cursor: hand;"><a>纪&nbsp;&nbsp;&nbsp;&nbsp;检</a></li>
                        <li onmouseover="tabsShow(this,2)" style="cursor: hand;"><a>督&nbsp;&nbsp;&nbsp;&nbsp;导</a></li>
                        <li onmouseover="tabsShow(this,3)" style="cursor: hand;"><a>社区办</a></li>
                        <li onmouseover="tabsShow(this,4)" style="cursor: hand;"><a>办公室</a></li>
                        <li onmouseover="tabsShow(this,5)" style="cursor: hand;"><a>中教科</a></li>
                        <li onmouseover="tabsShow(this,6)" style="cursor: hand;"><a>小教科</a></li>
                        <li onmouseover="tabsShow(this,7)" style="cursor: hand;"><a>人事科</a></li>
                        <li onmouseover="tabsShow(this,8)" style="cursor: hand;"><a>计财科</a></li>
                        <li onmouseover="tabsShow(this,9)" style="cursor: hand;"><a>安全科</a></li>
                        <li onmouseover="tabsShow(this,10)" style="cursor: hand;"><a>工&nbsp;&nbsp;&nbsp;&nbsp;会</a></li>
                        <li onmouseover="tabsShow(this,11)" style="cursor: hand;"><a>基建办</a></li>
                        <li onmouseover="tabsShow(this,12)" style="cursor: hand;"><a>信息中心</a></li>
                    </ul>
                    <ul class="indexList tabList" id="myTabAconList0">
                        $Tag_dangqunDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList1">
                        $Tag_JijianDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList2">
                        $Tag_DudaoDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList3">
                        $Tag_ShequbanDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList4">
                        $Tag_BangongshiDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList5">
                        $Tag_ZhongjiaokeDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList6">
                        $Tag_XiaojiaokeDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList7">
                        $Tag_RenshikeDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList8">
                        $Tag_JicaikeDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList9">
                        $Tag_AnquankeDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList10">
                        $Tag_GonghuiDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList11">
                        $Tag_JijianbanDefault$
                    </ul>
                    <ul class="indexList tabList disnone" id="myTabAconList12">
                        $Tag_XinxizhongxinDefault$
                    </ul>
                </div>
            </div>
            <div class="indexleft2 outbox height1">
                <div class="cap">
                    <a href="msfc/index.html" target="_blank" title="查看更多">更多</a>名师风采</div>
                $Tag_MsfcDefault$
            </div>
            <div class="clear">
            </div>
            <div class="indexleft outbox tabBox height2">
                <div class="cap">
                    <a href="jxyj/index.html" target="_blank" title="查看更多">更多</a>教学研究</div>
                <ul class="tab" id="myTabB">
                    <li class="active" onmouseover="tabsShow(this,0)" style="cursor: hand;"><a>师干训</a></li>
                    <li onmouseover="tabsShow(this,1)" style="cursor: hand;"><a>中&nbsp;&nbsp;&nbsp;&nbsp;教</a></li>
                    <li onmouseover="tabsShow(this,2)" style="cursor: hand;"><a>艺&nbsp;&nbsp;&nbsp;&nbsp;体</a></li>
                    <li onmouseover="tabsShow(this,3)" style="cursor: hand;"><a>幼&nbsp;&nbsp;&nbsp;&nbsp;教</a></li>
                    <li onmouseover="tabsShow(this,4)" style="cursor: hand;"><a>科&nbsp;&nbsp;&nbsp;&nbsp;研</a></li>
                    <li onmouseover="tabsShow(this,5)" style="cursor: hand;"><a>电&nbsp;&nbsp;&nbsp;&nbsp;教</a></li>
                    <li onmouseover="tabsShow(this,6)" style="cursor: hand;"><a>办公室</a></li>
                </ul>
                <ul class="indexList tabList2" id="myTabBconList0">
                    $Tag_ShiganxunDefault$
                </ul>
                <ul class="indexList tabList2 disnone" id="myTabBconList1">
                    $Tag_ZhongjiaoDefault$
                </ul>
                <ul class="indexList tabList2 disnone" id="myTabBconList2">
                    $Tag_YitiDefault$
                </ul>
                <ul class="indexList tabList2 disnone" id="myTabBconList3">
                    $Tag_YijiaoDefault$
                </ul>
                <ul class="indexList tabList2 disnone" id="myTabBconList4">
                    $Tag_KeyanDefault$
                </ul>
                <ul class="indexList tabList2 disnone" id="myTabBconList5">
                    $Tag_DianjiaoDefault$
                </ul>
                <ul class="indexList tabList2 disnone" id="myTabBconList6">
                    $Tag_YJBangongshiDefault$
                </ul>
            </div>
            <div class="indexleft2 outbox height2">
                <div class="cap">
                    <a href="zcfg/index.html" target="_blank" title="查看更多">更多</a>政策法规</div>
                <ul class="indexList">
                    $Tag_ZcfgDefault$
                </ul>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="right">
            <div class="sysLink mgnBot">
                <a href="#" title="信息化设备管理">信息化设备管理</a><a href="#" title="信息化教学备案">信息化教学备案</a><a
                    href="#" title="人事管理系统">人事管理系统</a><a href="#" title="学籍管理系统">学籍管理系统</a><a href="#"
                        title="统计报表">统计报表</a><a href="#" title="部门职能">部门职能</a><a href="#" title="会议预订系统">会议预订系统</a><a
                            href="#" title="电子期刊管理">电子期刊管理</a><a href="#" title="自助建站管理">自助建站管理</a></div>
            <div class="outbox height3">
                <div class="cap">
                    <a href="spxw/index.html" target="_blank" title="查看更多">更多</a>视频新闻</div>
                $Tag_SpxwDefaultTop$

                <script language="javascript" type="text/javascript">
                    var timeout = 3;
                    /// <summary>
                    /// 每隔90秒自动刷新下页面。
                    /// </summary>
                    function AutoRefresh() {
                        if (timeout == 0) {
                            if (document.getElementById("NSPlay"))
                                document.getElementById("NSPlay").stop();
                            return;
                        }
                        else {
                            timeout--;
                        }
                        setTimeout("AutoRefresh()", 1000)
                    }
                    AutoRefresh();
                </script>

                <ul class="indexList">
                    $Tag_SpxwDefault$
                </ul>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="center mgnBot">
        <div class="left">
            <a href="#" title="#">
                <img src="../images/object.gif" width="662" height="84" alt="zhuanti" /></a></div>
        <div class="right tdjy">
            <img src="../images/tdjyPic.gif" width="65" height="75" alt="电子杂志" />
            <div class="line1">
                <div>
                    《<span class="red">铁东教育</span>》第<span>13</span> 期</div>
                <select>
                    <option>铁东教育第13期</option>
                </select></div>
            <div class="line2">
                <div class="lineIn">
                    <a href="#" title="#">第12期 2008.12</a><br />
                    <a href="#" title="#">第12期 2008.12</a></div>
                <input type="button" class="readBtn" /></div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="center">
        <div class="left">
            <div class="indexleft outbox height2">
                <div class="cap">
                    <a href="jxzy/index.html" target="_blank" title="查看更多">更多</a>教学资源</div>
                <ul class="indexList">
                    $Tag_JxzyDefault$
                </ul>
            </div>
            <div class="indexleft2 outbox height2">
                <div class="cap">
                    <a href="kzkt/index.html" target="_blank" title="查看更多">更多</a>空中课堂</div>
                <ul class="indexList">
                    $Tag_KzktDefault$
                </ul>
            </div>
            <div class="clear">
            </div>
            <div class="indexleft outbox height2">
                <div class="cap">
                    <a href="spzy/index.html" target="_blank" title="查看更多">更多</a>视频资源</div>
                <ul class="indexList">
                    $Tag_SpzyDefault$
                </ul>
            </div>
            <div class="indexleft2 outbox height2">
                <div class="cap">
                    <a href="#" title="查看更多">更多</a>教育博客</div>
                <ul class="indexList">
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文标文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取章截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文章截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取标题文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取标题截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="areasch outbox height5">
                <div class="cap mgnBot">
                    学区查询</div>
                <select name="">
                    <option>办事处名称1</option>
                </select><span class="red">（填写说明1）</span><br />
                <select name="">
                    <option>办事处名称1</option>
                </select><span class="red">（填写说明1）</span><br />
                <select name="">
                    <option>办事处名称1</option>
                </select><span class="red">（填写说明1）</span><br />
                <img src="../images/areaschbtn.gif" width="56" height="21" class="btn" />
            </div>
            <div class="outbox height4">
                <div class="cap">
                    投诉中心</div>
                <span class="gdh">工单号查询</span><input type="text" class="inputTxt" /><input type="button"
                    class="tsBtn" />
                <ul class="indexList">
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文标文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取章截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文章截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取标题文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                </ul>
            </div>
            <div class="softdown outbox height6">
                <div class="cap">
                    软件下载</div>
                <ul>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                </ul>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
<iframe src="/web/link.html" width=100% frameborder="0"   id="menu"  name="menu"   onload="this.height=0;var fdh=(this.Document?this.Document.body.scrollHeight:this.contentDocument.body.offsetHeight);this.height=(fdh>10?fdh:10)" scrolling="no"></iframe>
</body>
</html>
