<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<tpl:set name="ArticlePhotoManager" value="$CreateTypeReference("Wis.Website.DataManager.ArticlePhotoManager")$" />
<tpl:set name="CategoryManager" value="$CreateTypeReference("Wis.Website.DataManager.CategoryManager")$" />
<tpl:set name="Formats" value="$CreateTypeReference("Wis.Toolkit.Formats")$" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>图片头条</title>
    <link href="$TemplateDirectory$/css/style.css" rel="stylesheet" type="text/css" />
    <style>
.main {}
.picNewsBox {border:1px solid #222; margin:0 3px; background:#000; margin-bottom:3px;}
.main .left {width:987px;}
table {width:713px; float:left; margin-left:6px; _margin-left:3px;}
td {height:479px; text-align:center; vertical-align:middle;}
table img {width:464px; height:190px;}
.newsList {float:right; width:254px; line-height:22px; background:#000; margin-right:6px;}
.newsList li {margin:2px 0; margin-right:2px;}
.newsList a {border:1px solid #222; color:#aaa; display:block; height:22px;  padding-left:8px; background:#040404;}
.newsList a.up {color:#93f416; padding-left:16px; background:url(../images/picNewsArrow.gif) 5px -2px no-repeat; }
.newsList a:hover {padding-left:16px; border:1px solid #999; background:#181818 url(../images/picNewsArrow.gif) 5px -2px no-repeat;}
.fenye {color:#a8a8a8; text-align:right;}
.fenye a {display:inline; color:#fbef2a; border:0; background:none; padding:0;}
.fenye a:hover {display:inline; text-decoration:underline; border:0; background:none; padding:0;}
.fenye a.noLink {color:#ccc; text-decoration:none; cursor:default; }    
    
    
    </style>
    <script src="$TemplateDirectory$/js/w.js" type="text/javascript"></script>
</head>
<body>
    <div class="header">
        <div class="headerBox">
            <img src="$TemplateDirectory$/images/logo.gif" width="173px" height="53px" />
            <div class="loginBox">
                用户名：
                <input type="text" size="12" />
                密码：
                <input type="text" size="12" />
                <input type="button" class="btn" />
            </div>
            <ul>
                <li class="left"></li>
                <li><a href="$ReleaseDirectory$/Default.htm" title="首页">首页</a></li><li class="sep">|</li>
                <li><a href="$ReleaseDirectory$/2/1.htm" title="教育动态">教育动态</a></li><li class="sep">|</li>
                <li><a href="$ReleaseDirectory$/36/1.htm" title="教学研究">教学研究</a></li><li class="sep">|</li>
                <li><a href="meetingList.html" title="会议资源">会议资源</a></li><li class="sep">|</li>
                <li><a href="#" title="ss">专题信息</a></li><li class="sep">|</li>
                <li><a href="#" title="ss">东师资源</a></li><li class="sep">|</li>
                <li><a href="#" title="ss">铁东资源</a></li><li class="sep">|</li>
                <li><a href="#" title="ss">铁东教育</a></li><li class="sep">|</li>
                <li><a href="msfc.html" title="名师风采">名师风采</a></li><li class="sep">|</li>
                <li><a href="#" title="ss">教育博客</a></li>
                <li class="right"></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="left mgnBot">
            <div class="position">当前位置：<a href="$ApplicationPath$">首页</a> >> $CategoryManager.GetSiteMapPath(ReleaseDirectory, PhotoArticleCategory.CategoryGuid, " >> ")$</div>
            <div class="picNewsBox">

                <script language="javascript">
			var CurrentHotScreen = 1;
			function setHotQueryList(screen){
			    if(!hot_query_td) return;
			    
				var Vmotion = "forward" ;
				var MaxScreen = 18 ;
				if (screen >= MaxScreen) {
					screen = 1 ;
					Vmotion = "reverse" ;
				}
				cleanallstyle();
				if(!!G("focus_"+screen)) G("focus_"+screen).className = "up" ;
			  
			  if(null!=hot_query_td.filters){
				hot_query_td.filters[0].apply();
				hot_query_td.filters[0].motion = Vmotion;
			  }
			  for (i=0;i<MaxScreen;i++) {
				if(!!G("switch_"+i)) G("switch_"+i).style.display = "none" ;
			  }
			  if(!!G("switch_"+screen)) G("switch_"+screen).style.display = "block" ;
			  if(null!=hot_query_td.filters){
				hot_query_td.filters[0].play();
			  }
				CurrentHotScreen = screen ;
			}
			function refreshHotQuery(){
				refreshHotQueryTimer = null;
				setHotQueryList(CurrentHotScreen+1);
				refreshHotQueryTimer = setTimeout('refreshHotQuery();', 5000);
			}
                </script>

                <div class="newsMain">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td id="HotSearchList" style="filter: progid:DXImageTransform.Microsoft.GradientWipe(GradientSize=0.25,wipestyle=0,motion=forward)">
                                    <tpl:foreach collection="$ArticlePhotoManager.GetPhotoArticles(PhotoArticleCategory.CategoryGuid, PageIndex, PageSize)$" var="PhotoArticle" index="Index"><div id="switch_$Index$">
                                        <a onclick="setClick();" href="$ReleaseDirectory$/$PhotoArticle.Category.CategoryId$/$PhotoArticle.DateCreated.Year$-$PhotoArticle.DateCreated.Month$-$PhotoArticle.DateCreated.Day$/$PhotoArticle.ArticleId$.htm" blockid="931" target="_blank"><img alt="$Index$" src="$PhotoArticle.ThumbnailPath$" /></a></div></tpl:foreach>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="newsList">
                        <ul><tpl:foreach collection="$ArticlePhotoManager.GetPhotoArticles(PhotoArticleCategory.CategoryGuid, PageIndex, PageSize)$" var="PhotoArticle" index="Index">
                            <li><a class="up" id="focus_$Index$" onmouseover="show_focus_image($Index$);" title="a" onclick="setClick();" href="$ReleaseDirectory$/$PhotoArticle.Category.CategoryId$/$PhotoArticle.DateCreated.Year$-$PhotoArticle.DateCreated.Month$-$PhotoArticle.DateCreated.Day$/$PhotoArticle.ArticleId$.htm" target="_blank" blockid="931" title="$PhotoArticle.Title$(<strong>$PhotoArticle.Hits$</strong>阅 <strong>$PhotoArticle.Comments$</strong>评)">$Formats.TruncateString(PhotoArticle.Title, 17)$</a></li></tpl:foreach>
                        </ul>
                        <div class="fenye">$Pager$</div>
                    </div>
                    <script>			
			        function cleanallstyle() {
				        for (i=1;i<=18;i++) {
					        if(!!G("focus_"+i)) G("focus_"+i).className = "" ;
				        }
			        }
			        function show_focus_image(index) {
				        clearTimeout(refreshHotQueryTimer);
				        setHotQueryList(index);
				        refreshHotQueryTimer = setTimeout('refreshHotQuery();', 5000);
			        }
			        function setClick() {
				        clearTimeout(refreshHotQueryTimer);
			        }
		            var refreshHotQueryTimer = null ;
		            var hot_query_td = G('HotSearchList');
		            setHotQueryList(CurrentHotScreen);
		            refreshHotQueryTimer = setTimeout('refreshHotQuery();', 5000);
                    </script>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="bottom">
        <a href="#" title="#">设置首页</a>－<a href="#" title="#">加入收藏</a>－<a href="#" title="#">版权声明</a>－<a
            href="#" title="#">联系方式</a>－<a href="#" title="#">网站地图</a><br />
        鞍山市铁东区教育局版权所有<br />
        辽ICP备0000号
    </div>
</body>
</html>
