<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>首页</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="header">
 <div class="headerBox">
  <img src="images/logo.gif" width="173px" height="53px" />
  <div class="loginBox">用户名：
    <input type="text" size="12" /> 
  密码：
    <input type="text" size="12" /> 
    <input type="button" class="btn" />
  </div>
  <ul>
   <li class="left"></li>
   <li><a href="index.html" title="首页">首页</a></li><li class="sep">|</li>
   <li><a href="jydtList.html" title="ss">教育动态</a></li><li class="sep">|</li>
   <li><a href="$ReleaseDirectory$/36/1.htm" title="教学研究">教学研究</a></li><li class="sep">|</li>
   <li><a href="meetingList.html" title="会议资源">会议资源</a></li><li class="sep">|</li>
   <li><a href="#" title="ss">专题信息</a></li><li class="sep">|</li>
   <li><a href="#" title="ss">东师资源</a></li><li class="sep">|</li>
   <li><a href="#" title="ss">铁东资源</a></li><li class="sep">|</li>
   <li><a href="#" title="ss">铁东教育</a></li><li class="sep">|</li>
   <li><a href="msfc.html" title="名师风采">名师风采</a></li><li class="sep">|</li>
   <li><a href="#" title="ss">教育博客</a></li>
   <li class="right"></li>
  </ul>
  <div class="clear"></div>
 </div>
</div>
<div class="ztcenter mgnBot">
 <div class="zhuantiPic"><img /></div>
 <div class="ztLeft">
  <img src="images/softpic1.gif" />
  <h3><a href="#">王金山:把贯彻落实科学高到新水平把贯彻落实科学发展观提高到新水平</a></h3>
  <img src="images/softpic1.gif" />
  <h3><a href="#">王金山:把贯彻落实科学发展观提高到新水平</a></h3>
 </div>
 <div class="ztRight">
  
  <div>
   <h2><a href="#">李长春在四川考察时强调弘扬伟大的抗震救灾精神</a></h2>
   <p>李长春在四川考察时强调弘扬伟大的抗震救灾精神李长春在四川考察时强调弘扬伟大的抗震救灾精神李长春在四川考察时强调弘扬伟大的抗震救灾精神李长春在四川考察时强调弘扬伟大的抗震救灾精神李长春在四川考察时强调弘扬伟大的抗震救灾精神李长春在四川考察时强调弘扬伟大的抗震救灾精神</p>
  </div>
  <ul>
   <li><a href="#">把贯彻落实科学发观提高到新水平</a>2008-12-16</li>
   <li><a href="#">把贯彻落实科学发0展观提高到新水平</a>2008-12-16</li>
   <li><a href="#">把贯彻落实发展观提高到新水平</a>2008-12-16</li>
   <li><a href="#">把贯彻落45112实科学发展观提高到新水平</a>2008-12-16</li>
   <li><a href="#">把贯彻落实科学发展观提高到新水平</a>2008-12-16</li>
   <li><a href="#">把贯彻落实学发展观提高到新水平</a>2008-12-16</li>
   <li><a href="#">把贯彻落111555555实科学发展观提高到新水平</a>2008-12-16</li>
   <li><a href="#">把贯彻落实科学展观提高到新水平</a>2008-12-16</li>
   <li><a href="#">把贯彻落实科2学发展观提高到新水平</a>2008-12-16</li>
   <li><a href="#">把贯彻落实科6112学发展观提高到新水平</a>2008-12-16</li>  
  </ul>
 right
 </div>
 
 
 <div class="ztRight_right">
   <div class="ztTitle">视频新闻</div>
   <img />
   <h4>视频新闻视频新闻视频新闻</h4>
   <ul>
    <li><a>视频新闻视频新闻视频新闻</a></li>
    <li><a>视频新闻视频新闻视频新闻</a></li>
    <li><a>视频新闻视频新闻视频新闻视频新闻视频新闻视频新闻</a></li>
    <li><a>视频新闻视频新闻视频新闻</a></li>
    <li><a>视频新闻视频新闻视频新闻</a></li>
    <li><a>视频新闻视频新闻视频新闻</a></li>
    <li><a>视频新闻视频新闻视频新闻</a></li>
    <li><a>视频新闻视频新闻视频新闻</a></li>
   </ul>
  </div>
 
 
 
 
 
 

 <div class="clear"></div>
</div>



<div class="link outbox">
 <div class="cap">学校链接</div>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <a href="#" title='#'><img src="images/link.gif" /></a>
 <div class="clear"></div>
</div>

<div class="bottom">
 <a href="#">设置首页</a>－<a href="#">加入收藏</a>－<a href="#">版权声明</a>－<a href="#">联系方式</a>－<a href="#">网站地图</a><br />山市铁东区教育局版权所有<br />辽ICP备000000号<div>
</div>
 
</div>
</body>
</html>
