<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>软件下载</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<SCRIPT src="js/jquery.js" type=text/javascript></SCRIPT>
<SCRIPT src="js/accordion.js" type=text/javascript></SCRIPT>
<SCRIPT src="js/cycle.js" type=text/javascript></SCRIPT>
    <script src="/Templates/tdedu0201/js/w.js" type="text/javascript"></script>

<!-- jQuery Scripts //-->
<SCRIPT type=text/javascript>
		jQuery().ready(function(){
			jQuery('#serviceContent').accordion({
			autoheight: false
			});
		});
			
		$(function() {
			G('#fW_Content').cycle({ 
			fx:    'scrollLeft',
			pager: '#fW_Controls'
 			});
		});

</SCRIPT>
</head>

<body>
<div class="header">
 <div class="headerBox">
  <img src="images/logo.gif" width="173px" height="53px" />
  <div class="loginBox">用户名：
    <input type="text" size="12" /> 
  密码：
    <input type="text" size="12" /> 
    <input type="button" class="btn" />
  </div>
  <ul>
   <li class="left"></li>
   <li><a href="$ReleaseDirectory$/Default.htm" title="首页">首页</a></li><li class="sep">|</li>
   <li><a href="$ReleaseDirectory$/2/1.htm" title="教育动态">教育动态</a></li><li class="sep">|</li>
   <li><a href="$ReleaseDirectory$/36/1.htm" title="教学研究">教学研究</a></li><li class="sep">|</li>
   <li><a href="meetingList.html" title="会议资源">会议资源</a></li><li class="sep">|</li>
   <li><a href="#" title="ss">专题信息</a></li><li class="sep">|</li>
   <li><a href="#" title="ss">东师资源</a></li><li class="sep">|</li>
   <li><a href="#" title="ss">铁东资源</a></li><li class="sep">|</li>
   <li><a href="#" title="ss">铁东教育</a></li><li class="sep">|</li>
   <li><a href="msfc.html" title="名师风采">名师风采</a></li><li class="sep">|</li>
   <li><a href="#" title="ss">教育博客</a></li>
   <li class="right"></li>
  </ul>
 </div>
</div>
<div class="main">
 <div class="left mgnBot" id="left">
 <div class="position">软件下载</div>
 <div class="contentDown">
  <div class="downTitle">软件名称：腾讯QQ2008正式版</div>
  <div class="downInfo">
   <ul>
    <li><span>运行环境</span> WinNT,Win2000,WinMe,WinXP,Win2003,WinVista</li>
    <li><span>软件大小</span> 4.04 MB </li>
    <li><span>软件语言</span> 简体中文</li>
    <li><span>更新时间</span> 2008-12-25</li>
    <li><span>软件版本</span> 2008 v2.0</li>
    <li><span>软件授权</span> 免费</li>
    <li><span>软件类别</span> 媒体播放</li>
    <li><span>下载次数</span> 234610</li>
   </ul>
  
  </div>
  <div class="downPic"><img src="images/softpic1.gif" alt="软件Pic" /></div>
  <div class="clear"></div>
 </div>
 <div class="downLink">
  下载地址：<a href="#">下载地址1</a><a href="#">下载地址1</a><a href="#">下载地址1</a><a href="#">下载地址1</a>
 </div>
 
 <div class="softDes">
  <h2>软件名称-Soft Name</h2>
  <p>2009，安全噩梦的开始。从此，诺基亚的手机自相残杀。人人自卫。S60短信漏洞已经被各国外媒体证实。</p>
  <p>诺基亚官方杀毒软件合作伙伴F-Secure也证实了。F-Secure的手机安全软件已经能够处理这个问题，并推出了FortiCleanUptool专门解决这一问题。但这是临时的，如果已经中招，每次重启手机后，都需要运行该工具，才能是信息接收正常。</p>
  <p>一个新的具有广泛风险的，基于塞班智能手机操作系统的漏洞昨天被公布。该被TobiasEngel称为“沉默的短信诅咒”的漏洞是由其发现并在第25届“混沌通讯会议”上披露的。</p> 
 </div>
 
 
 <div class="review1"><a href="#review" title="发表评论" class="flright">发表评论</a>当前共有 <a title="">78</a> 条评论</div>
 <div class="review2">
  <dl>
   <dt><span>本贴由会员<a href="#">老杨</a>发表于<a>2008年12月13日</a></span><strong>沙发沙发</strong></dt>
   <dd>天花板啦。。<br />国要在是</dd>
   <dt><span>本贴由会员<a href="#">老杨</a>发表于<a>2008年12月13日</a></span><strong>沙发沙发</strong></dt>
   <dd>天花板啦。。</dd>
   <dt><span>本贴由会员<a href="#">老杨</a>发表于<a>2008年12月13日</a></span><strong>沙发沙发</strong></dt>
   <dd>天花板啦。。</dd>
   <dt><span>本贴由会员<a href="#">老杨</a>发表于<a>2008年12月13日</a></span><strong>沙发沙发</strong></dt>
   <dd>天花板啦。。</dd>
  </dl>
 </div>
 <div class="review3">
  <dl>
   <dt>发表评论</dt>
   <dd>
  <a name="review" id="review"></a>
 &nbsp;标 题：<input type="text" />
 <br />
 &nbsp;内 容：<textarea rows="4"></textarea><br />
 验证码：<input type="text" class="code"  /> <input type="button" style="width:40px; border:0; height:20px;" />
 <input type="button" value="提交评论" class="plbtn1" />
 
   </dd>
   </dl>
 </div>
 &nbsp; 
 
 </div>
 <div class="right" id="right">
  <div class="meeting outbox">
  <div class="cap"><a href="#" title="查看更多">更多</a>会议信息</div>
  <ul class="indexList">
   <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
   <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
   <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
   <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
   <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
   <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
   <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
  </ul>
 </div>
 
 
  <div class="sysLink mgnBot"><a href="#" title="会议预订系统">会议预订系统</a><a href="#" title="学籍管理系统">学籍管理系统</a><a href="#" title="人事管理系统">人事管理系统</a><a href="#" title="信息化教学备案">信息化教学备案</a><a href="#" title="信息化设备管理">信息化设备管理</a><a href="#" title="统计报表">统计报表</a><a href="#" title="自助建站管理">自助建站管理</a><a href="#" title="电子期刊管理">电子期刊管理</a><a href="#" title="部门职能">部门职能</a></div>
  
  <div class="areasch outbox height5">
   <div class="cap mgnBot">学区查询</div>
   <select name="">
     <option>办事处名称1</option>
   </select><span class="red">（填写说明1）</span><br />
   <select name="">
     <option>办事处名称1</option>
   </select><span class="red">（填写说明1）</span><br />
   <select name="">
     <option>办事处名称1</option>
   </select><span class="red">（填写说明1）</span><br />
   <img src="images/areaschbtn.gif" width="56" height="21" class="btn" />
  </div>
  
  <div class="outbox height4">
   <div class="cap">投诉中心</div>
   <span class="gdh">工单号查询</span><input type="text" class="inputTxt" /><input type="button" class="tsBtn" />
   <ul class="indexList">
   <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文标文章标题截取...</a></li>
   <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取章截取文章标题截取...</a></li>
   <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文章截取文章标题截取...</a></li>
   <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取标题文章标题截取...</a></li>
   <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
   <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
   <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取标题文章标题截取...</a></li>
   <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
   <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
   <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取标题文章标题截取...</a></li>
  </ul>
  </div>
  
  <div class="tdjy mgnBot">
  <img src="images/tdjyPic.gif" width="65" height="75" alt="电子杂志" />
  <div class="line1">
  <div>《<span class="red">铁东教育</span>》第<span>13</span> 期</div>
  <select>
    <option>铁东教育第13期</option>
  </select></div>
  <div class="line2">
   <div class="lineIn"><a href="#" title="#">第12期 2008.12</a><br /><a href="#" title="#">第12期 2008.12</a></div>
  <input type="button" class="readBtn" /></div>  
 </div>
 
 
 
 <div class="clear"></div>
   <div class="outbox height3">
   <div class="cap"><a href="#" title="查看更多">更多</a>视频新闻</div>
   <!-- <DIV id=fW_Controls></DIV>  -->
   <div id="fW_Content">
    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="3">
  <tr>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
  </tr>
  <tr>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
  </tr>
  <tr>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
  </tr>
  <tr>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
  </tr>
</table>

 <table width="98%" border="0" align="center" cellpadding="0" cellspacing="3">
  <tr>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
  </tr>
  <tr>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
  </tr>
  <tr>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
  </tr>
  <tr>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
  </tr>
</table>

 <table width="98%" border="0" align="center" cellpadding="0" cellspacing="3">
  <tr>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
  </tr>
  <tr>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
  </tr>
  <tr>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
    <td><a href="#"><img src="images/picNews1.gif" height="74" width="93" /></a></td>
  </tr>
  <tr>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
    <td><a href="#">《豆儿》系列：泡妹妹</a></td>
  </tr>
</table>
  </div>
  </div>
  
  <div class="softdown outbox height6">
   <div class="cap">软件下载</div>
   <ul>
    <li><a href="#" title="#">腾讯球球</a></li>
    <li><a href="#" title="#">腾讯球球</a></li>
    <li><a href="#" title="#">腾讯球球</a></li>
    <li><a href="#" title="#">腾讯</a></li>
    <li><a href="#" title="#">腾讯</a></li>
    <li><a href="#" title="#">腾讯</a></li>
    <li><a href="#" title="#">腾讯</a></li>
    <li><a href="#" title="#">腾讯球球</a></li>
    <li><a href="#" title="#">腾讯球球</a></li>
    <li><a href="#" title="#">腾讯球球</a></li>
    <li><a href="#" title="#">腾讯</a></li>
    <li><a href="#" title="#">腾讯</a></li>
    <li><a href="#" title="#">腾讯</a></li>
    <li><a href="#" title="#">腾讯</a></li>
   </ul>
   <div class="clear"></div>
  </div>
  <div class="recLink"><a href="#" title="recommendLink"><img src="images/recommendLink.gif" width="322" height="62" /></a></div>
  
 </div>
 <div class="clear"></div>
</div>
<div class="link outbox">
 <div class="cap">学校链接</div>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <a href="#" title="#"><img src="images/link.gif" /></a>
 <div class="clear"></div>
</div>
<div class="bottom">
 <a href="#" title="#">设置首页</a>－<a href="#" title="#">加入收藏</a>－<a href="#" title="#">版权声明</a>－<a href="#" title="#">联系方式</a>－<a href="#" title="#">网站地图</a><br />鞍山市铁东区教育局版权所有<br />辽ICP备0000号
</div>
</body>
</html>
