<tpl:set name="Files" value="$CreateTypeReference("Wis.Website.DataManager.FileManager").GetFilesBySubmissionGuid(ArticlePhoto.ArticleGuid)$" />
<tpl:set name="Comments" value="$CreateTypeReference("Wis.Website.DataManager.CommentManager").GetCommentsBySubmissionGuid(ArticlePhoto.ArticleGuid)$" />
<tpl:set name="TagArticles" value="$CreateTypeReference("Wis.Website.DataManager.ArticleManager").GetArticlesByTag(ArticlePhoto.ArticleGuid, 8)$" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>$ArticlePhoto.Title$ - 鞍山市铁东区教育局</title>
    <link href="$TemplateDirectory$/css/style.css" rel="stylesheet" type="text/css" />
    <script src="$TemplateDirectory$/js/w.js" type="text/javascript"></script>
</head>
<body>
    <div class="header">
        <div class="headerBox">
            <img src="$TemplateDirectory$/images/logo.gif" width="173px" height="53px" />
            <div class="loginBox">
                用户名：<input type="text" size="12" />
                密码：<input type="text" size="12" />
                <input type="button" class="btn" />
            </div>
            <ul>
                <li class="left"></li>
                <li><a href="$ReleaseDirectory$/Default.htm" title="首页">首页</a></li><li class="sep">|</li>
                <li><a href="$ReleaseDirectory$/2/1.htm" title="教育动态">教育动态</a></li><li class="sep">|</li>
                <li><a href="$ReleaseDirectory$/36/1.htm" title="教学研究">教学研究</a></li><li class="sep">|</li>
                <li><a href="meetingList.html" title="会议资源">会议资源</a></li><li class="sep">|</li>
                <li><a href="#" title="ss">专题信息</a></li><li class="sep">|</li>
                <li><a href="#" title="ss">东师资源</a></li><li class="sep">|</li>
                <li><a href="#" title="ss">铁东资源</a></li><li class="sep">|</li>
                <li><a href="#" title="ss">铁东教育</a></li><li class="sep">|</li>
                <li><a href="msfc.html" title="名师风采">名师风采</a></li><li class="sep">|</li>
                <li><a href="#" title="ss">教育博客</a></li>
                <li class="right"></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="left mgnBot" id="left">
            <div class="position"><a href="$ApplicationPath$">首页</a>&nbsp;&gt;&gt;&nbsp;<a href="$ReleaseDirectory$/$ArticlePhoto.Category.CategoryId$/1.htm">$ArticlePhoto.Category.CategoryName$</a></div>
            <h1><tpl:if test="$IsNullOrEmpty(ArticlePhoto.TitleColor)$">$ArticlePhoto.Title$<tpl:else><font color="$ArticlePhoto.TitleColor$">$ArticlePhoto.Title$</font></tpl:if></h1>
            <tpl:if test="$IsNotEmpty(ArticlePhoto.SubTitle)$"><h2>$ArticlePhoto.SubTitle$</h2></tpl:if>
            <div class="h1bot">
                <span>浏览人数：$ArticlePhoto.Hits$&nbsp;&nbsp;</span>
                $ArticlePhoto.DateCreated$&nbsp;&nbsp;
                <tpl:if test="$IsNotEmpty(ArticlePhoto.Author)$">作者：$ArticlePhoto.Author$&nbsp;&nbsp;</tpl:if>
                <tpl:if test="$IsNotEmpty(ArticlePhoto.Original)$">来源：$ArticlePhoto.Original$</tpl:if>
            </div>
            <tpl:if test="$IsNotEmpty(ArticlePhoto.Summary)$"><div class="summary">$ArticlePhoto.Summary$</div></tpl:if>
            <div class="contentHtml">
                <img src="$ArticlePhoto.ThumbnailPath$" /><br />
                $ArticlePhoto.ContentHtml$<tpl:if test="$Files.Count IsNot 0$">
                <div class="annexDown">附件下载：<tpl:foreach collection="$Files$" var="File"><a href="$File.SaveAsFileName$" target="_blank">$File.OriginalFileName$($File.Size$字节)</a></tpl:foreach></div>
            </tpl:if></div>
            <div class="review1"><a href="#review" title="我要评论" class="flright">我要评论</a>当前共有 $ArticlePhoto.Comments$ 条评论</div>
            <tpl:if test="$Comments.Count IsNot 0$"><div class="review2">
                <dl><tpl:foreach collection="$Comments$" var="Comment" index="Index">
                    <dt><span style="color: #999">&nbsp;[$Index$楼]</span><span><a href="#">$Comment.Commentator$</a>&nbsp;&nbsp;$Comment.DateCreated$</span><span>$Comment.Title$</span></dt>
                    <dd>$Comment.ContentHtml$</dd></tpl:foreach>
                </dl>
            </div></tpl:if>
            <div class="review3"><iframe height="0" width="0" id="HiddenIframe"></iframe><form id="Comment" action="/A/Comment.aspx" target="HiddenIframe" method="post">
                <dl>
                    <dt>发表评论</dt>
                    <dd><label><a name="review" id="review"></a>标&nbsp;&nbsp;题：</label><input type="text" name="Title" /></dd>
                    <dd><label>内&nbsp;&nbsp;容：</label><textarea cols="6" rows="4" name="ContentHtml"></textarea></dd>
                    <dd><label>验证码：</label><input name="Verify" type="text" class="code" onFocus="G('CommentVerify').src=G('CommentVerify').src+'?';G('divCommentVerify').style.display='';" /> 请输入验证码，字母不区分大小写</dd>
                    <dd>
                        <dl style="display:none" id="divCommentVerify">
                            <dd><img id="CommentVerify" src="/A/CommentVerify.aspx" alt="看不清？点击更换" onClick="this.src=this.src+'?'" /></dd>
                            <dd onClick="G('CommentVerify').src=G('CommentVerify').src+'?'"><a>看不清？点击更换</a></dd>
                        </dl>
                    </dd>
                    <dd>&nbsp;<input type="button" value="提交评论" class="plbtn1" onClick="G('Comment').submit();" /></dd>
                </dl></form>
            </div>
            <tpl:if test="$TagArticles.Count IsNot 0$"><div class="relateArticles">
                <dl>
                    <dt>相关文章(最新<b>$TagArticles.Count$</b>篇)</dt>
                    <dd>
                        <ul><tpl:foreach collection="$TagArticles$" var="TagArticle" index="Index">
                            <li><a href="$ReleaseDirectory$/$TagArticle.Category.CategoryId$/$TagArticle.DateCreated.Year$-$TagArticle.DateCreated.Month$-$TagArticle.DateCreated.Day$/$TagArticle.ArticleId$.htm" target="_blank">
                                <tpl:if test="$IsNullOrEmpty(TagArticle.TitleColor)$">$TagArticle.Title$<tpl:else><font color="$TagArticle.TitleColor$">$TagArticle.Title$</font></tpl:if>
                            </a>$TagArticle.DateCreated$</li>
                        </tpl:foreach></ul>
                    </dd>
                </dl>
            </div></tpl:if>
            &nbsp;
        </div>
        <div class="right" id="right">
            <div class="meeting outbox">
                <div class="cap">
                    <a href="#" title="查看更多">更多</a>会议信息</div>
                <ul class="indexList">
                    <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
                    <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
                    <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
                    <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
                    <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
                    <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
                    <li><a href="#" title="#">2008-10-13 | 会议信息</a></li>
                </ul>
            </div>
            <div class="sysLink mgnBot">
                <a href="#" title="会议预订系统">会议预订系统</a><a href="#" title="学籍管理系统">学籍管理系统</a><a href="#"
                    title="人事管理系统">人事管理系统</a><a href="#" title="信息化教学备案">信息化教学备案</a><a href="#" title="信息化设备管理">信息化设备管理</a><a
                        href="#" title="统计报表">统计报表</a><a href="#" title="自助建站管理">自助建站管理</a><a href="#" title="电子期刊管理">电子期刊管理</a><a
                            href="#" title="部门职能">部门职能</a></div>
            <div class="areasch outbox height5">
                <div class="cap mgnBot">
                    学区查询</div>
                <select name="">
                    <option>办事处名称1</option>
                </select><span class="red">（填写说明1）</span><br />
                <select name="">
                    <option>办事处名称1</option>
                </select><span class="red">（填写说明1）</span><br />
                <select name="">
                    <option>办事处名称1</option>
                </select><span class="red">（填写说明1）</span><br />
                <img src="$TemplateDirectory$/images/areaschbtn.gif" width="56" height="21" class="btn" />
            </div>
            <div class="outbox height4">
                <div class="cap">
                    投诉中心</div>
                <span class="gdh">工单号查询</span><input type="text" class="inputTxt" /><input type="button"
                    class="tsBtn" />
                <ul class="indexList">
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文标文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取章截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文章截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取标题文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取标题文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取文题截取文章标题截取...</a></li>
                    <li><span class="date">2008-10-13</span><a href="#" title="#">文章标题截取标题文章标题截取...</a></li>
                </ul>
            </div>
            <div class="tdjy mgnBot">
                <img src="$TemplateDirectory$/images/tdjyPic.gif" width="65" height="75" alt="电子杂志" />
                <div class="line1">
                    <div>
                        《<span class="red">铁东教育</span>》第<span>13</span> 期</div>
                    <select>
                        <option>铁东教育第13期</option>
                    </select></div>
                <div class="line2">
                    <div class="lineIn">
                        <a href="#" title="#">第12期 2008.12</a><br />
                        <a href="#" title="#">第12期 2008.12</a></div>
                    <input type="button" class="readBtn" /></div>
            </div>
            <div class="clear">
            </div>
            <div class="outbox height3">
                <div class="cap">
                    <a href="#" title="查看更多">更多</a>视频新闻</div>
                <div id="fW_Content">
                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="3">
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                        </tr>
                    </table>
                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="3">
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                        </tr>
                    </table>
                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="3">
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="$TemplateDirectory$/images/picNews1.gif" height="74" width="93" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                            <td>
                                <a href="#">《豆儿》系列：泡妹妹</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="softdown outbox height6">
                <div class="cap">
                    软件下载</div>
                <ul>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯球球</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                    <li><a href="#" title="#">腾讯</a></li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div class="recLink">
                <a href="#" title="recommendLink">
                    <img src="$TemplateDirectory$/images/recommendLink.gif" width="322" height="62" /></a></div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="link outbox">
        <div class="cap">
            学校链接</div>
        <a href="#" title="#">
            <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                    <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                        <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                            <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                                <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                                    <img src="$TemplateDirectory$/images/link.gif" /></a>
        <a href="#" title="#">
            <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                    <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                        <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                            <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                                <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                                    <img src="$TemplateDirectory$/images/link.gif" /></a>
        <a href="#" title="#">
            <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                    <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                        <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                            <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                                <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                                    <img src="$TemplateDirectory$/images/link.gif" /></a>
        <a href="#" title="#">
            <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                    <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                        <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                            <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                                <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                                    <img src="$TemplateDirectory$/images/link.gif" /></a>
        <a href="#" title="#">
            <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                    <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                        <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                            <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                                <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                                    <img src="$TemplateDirectory$/images/link.gif" /></a>
        <a href="#" title="#">
            <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                    <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                        <img src="$TemplateDirectory$/images/link.gif" /></a> <a href="#" title="#">
                            <img src="$TemplateDirectory$/images/link.gif" /></a>
        <div class="clear">
        </div>
    </div>
    <div class="bottom">
        <a href="#" title="#">设置首页</a>－<a href="#" title="#">加入收藏</a>－<a href="#" title="#">版权声明</a>－<a
            href="#" title="#">联系方式</a>－<a href="#" title="#">网站地图</a><br />
        鞍山市铁东区教育局版权所有<br />
        辽ICP备0000号
    </div>
</body>
</html>
